
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Optional: light background for contrast */
}

form {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow for better visibility */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: slight border with transparency */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 150px;
    margin-right: 10px;
    display: inline-block;
}

input {
    width: calc(100% - 160px); /* Adjust input width to account for label width and margin */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto; /* Submit button does not need to be full width */
    background-color: #AD49E1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    cursor:pointer;
}
